<template name="rooms">
	{{#Scrollview }}
		{{#famousEach rooms}}
			{{>Surface template='room' size="[undefined, true]"}}
		{{/famousEach}}
	{{/Scrollview}}
</template>

<template name="room">
    <div class="room-wrapper">
        <div class="room clearfix">
            <div class="title col-xs-12">
							{{{ i18n this 'title' }}}
            </div>
            <div class="album col-xs-12 col-md-6">
            </div>
            <div class="description col-xs-12 col-md-6">
							{{{ i18n this 'description' }}}
            </div>
            <div class="col-xs-12">
							{{>bookingTrigger}}
            </div>
        </div>
    </div>
</template>

<template name="bookingTrigger">
    <button class="booking btn btn-primary">
        <span class="fa fa-edit"></span>
			{{i18n 'Book'}}
    </button>
</template>
