<template name="rooms">
	{{#Scrollview }}
		{{>Surface template="pageHead" size="[undefined,true]"}}
		{{#famousEach rooms}}
			{{>Surface template='room' size="[undefined, true]"}}
		{{/famousEach}}
	{{/Scrollview}}
</template>

<template name="room">
	{{#content type="room"}}
      <div class="content-title col-xs-12">
				{{{ i18n this 'title' }}}
      </div>
      <div class="album-wrapper col-xs-12 col-md-6">
				{{#with album}}
					{{> album}}
				{{/with}}
      </div>
      <div class="description col-xs-12 col-md-6">
				{{{ i18n this 'description' }}}
      </div>
      <div class="booking-wrapper col-xs-12">
				{{>bookingTrigger}}
      </div>
	{{/content}}
</template>

<template name="bookingTrigger">
    <button class="book btn btn-primary">
        <span class="fa fa-edit"></span>
			{{i18n 'Book'}}
    </button>
</template>
