.header {
  background-color: @brand-bg;
  height: 80px;
  .navbar-brand {
    background-image: url(/images/logo.png);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    height: 135px;
    min-width: 282px;
    //    position: relative;
    //    left: -@grid-gutter-width/2;
    .main, .small {
      display: none;
    }
  }
}
