<template name="header">
    <nav class="header">
        <div class="container">
            <a class="navbar-brand col-xs-12 col-sm-12 col-md-4"
               href="{{pathFor 'rooms' }}">
                    <span class="main">
		                    Ferdinand
	                    </span>
                    <span class="small hidden-xs">
		                    bread & breakfast
                    </span>
            </a>
            <ul class="menu col-xs-12 col-sm-12 col-md-8 col-md-offest-4">
							{{#each pages}}
								{{> headerPageLink}}
							{{/each}}
            </ul>
        </div>
    </nav>
</template>

<template name="headerPageLink">
    <li class="{{active}}">
        <a href="{{urlFor routeName}}">
					{{title}}
        </a>
    </li>
</template>
