<template name="header">
    <nav class="header">
        <div class="container">
            <a class="navbar-brand col-xs-12 col-sm-12 col-md-4"
               href="{{pathFor 'rooms' }}">
                    <span class="main">
		                    Ferdinand
	                    </span>
                    <span class="small hidden-xs">
		                    bread & breakfast
                    </span>
            </a>
            <ul class="menu">
							{{#each pages}}
								{{> headerPageLink}}
							{{/each}}
            </ul>
            <button type="button" class="menu-open btn btn-link">
                <span class="fa fa-bars"></span>
            </button>
            <button class="menu-close btn btn-link">
                <span class="fa fa-times"></span>
            </button>
					{{>i18nLanguageSelector}}
        </div>
    </nav>
</template>

<template name="headerPageLink">
    <li class="{{active}}">
        <a href="{{urlFor routeName}}" class="link">
            <div class="icon-wrapper">
            <span class="icon" style="background-image: url({{icon}});">
            </span>
            </div>
	        <span class="title">
		        {{title}}
          </span>
        </a>
    </li>
</template>
