<h3> Dear Administrator, </h3>

<p>
    A new feedback was left on the Ferdinand website.
    <br/>
    Please visit the admin panel to review & accept it
</p>

<blockquote>
    <p><b>Name</b> {{name}}</p>

    <p><b>Email</b> {{email}}</p>

    <p><b>Message</b> {{i18n.en.message}}</p>
</blockquote>

<p>
    Best regards, <br/>
    The internet
</p>


<table>
    <caption>Contact</caption>
    <tr>
        <td> Street address</td>
        <td> Strada 1 Decembrie 1918 nr. 10 ( Yard )</td>
    </tr>
    <tr>
        <td> Locality/City</td>
        <td> Sfântu Gheorghe</td>
    </tr>
    <tr>
        <td> Region/State</td>
        <td> Covasna</td>
    </tr>
    <tr>
        <td> Country</td>
        <td> Romania</td>
    </tr>
    <tr>
        <td> Postal code</td>
        <td> 520008</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>fp@zoltur.ro</td>
    </tr>
    <tr>
        <td>Phone</td>
        <td>+40 740 180 502</td>
    </tr>
    <tr>
        <td>Fax</td>
        <td>+40 367 800 449</td>
    </tr>
</table>
