<template name="book">
	{{#Scrollview}}
		{{>pageHead type="book"}}

		{{#Surface class="book-wrapper" size="[undefined,true]"}}
			{{#content type="book"}}
				{{> bookForm}}
			{{/content}}
		{{/Surface}}
	{{/Scrollview}}
</template>

<template name="bookForm">
    <form class="book-form">
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="form-group">
                <label for="user.full_name">
									{{ i18n 'book.form.Full Name' }}
                </label>

                <div class="input-group">
                    <div class="input-group-addon"><span
                            class="fa fa-user"></span>
                    </div>
                    <input type="text" id="user.full_name"
                           name="user.full_name"
                           data-toggle="tooltip"
                           class="form-control"
                           data-title="{{ i18n 'book.form.Specify a valid full name' }}"
                           data-placement="right"/>
                </div>
            </div>
            <div class="form-group">
                <label for="user.email">
									{{ i18n 'book.form.Email' }}
                </label>

                <div class="input-group">
                    <div class="input-group-addon"><span
                            class="fa fa-envelope"></span></div>
                    <input type="email" id="user.email" name="user.email"
                           class="form-control email" data-toggle="tooltip"
                           data-title="{{ i18n 'book.form.Specify a valid email address' }}"
                           data-placement="right"/>
                </div>
            </div>
            <div class="form-group">
                <label for="user.phone">
									{{ i18n 'book.form.Phone' }}
                </label>

                <div class="input-group">
                    <div class="input-group-addon"><span
                            class="fa fa-signal"></span></div>
                    <input type="text" class="form-control phone"
                           id="user.phone"
                           name="user.phone" data-toggle="tooltip"
                           data-title="{{ i18n 'book.form.Specify a valid phone number' }}"
                           data-placement="right"/>
                </div>
            </div>
            <div class="form-group">
                <label for="user.citizenship">
									{{ i18n 'book.form.Citizenship' }}
                </label>

                <div class="input-group">
                    <div class="input-group-addon"><span
                            class="fa fa-flag"></span>
                    </div>
                    <input type="text" class="form-control citizenship"
                           id="user.citizenship"
                           name="user.citizenship" data-toggle="tooltip"
                           data-title="{{ i18n 'book.form.Specify your citizenship' }}"
                           data-placement="right"/>
                </div>
            </div>
            <div class="form-group">
                <label for="book.message">
									{{ i18n 'book.form.Custom message' }}
                </label>

                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="fa fa-comment"></span>
                    </div>
                <textarea id="book.message" name="book.message"
                          class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">

            <div class="form-group">
                <label for="book.quantity">
									{{ i18n 'book.form.Quantity' }}
                </label>

                <div class="input-group">
                    <div class="input-group-addon">#</div>
                    <select class="form-control" id="book.quantity"
                            name="book.quantity">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="book.guests">
									{{ i18n 'book.form.Number of guests' }}
                </label>

                <div class="input-group">
                    <div class="input-group-addon">#</div>
                    <select class="form-control" id="book.guests"
                            name="book.guests">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="book.start">
									{{ i18n 'book.form.Arrival date' }}
                </label>

                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </div>
                    <input type="text" class="form-control datepicker"
                           id="book.start"
                           name="book.start"
                           data-toggle="tooltip"
                           data-title="{{ i18n 'book.form.Specify a valid date (dd-mm-yyyy)' }}"
                           data-placement="right"/>
                </div>
            </div>
            <span data-toggle="tooltip"
                  data-title="{{ i18n 'book.form.The selected range contains overbooked days. Consider a different selection. ' }}"
                  data-placement="right"></span>

            <div class="form-group">
                <label for="book.end">
									{{ i18n 'book.form.Departure date' }}
                </label>

                <div class="input-group">
                    <div class="input-group-addon"><span
                            class="fa fa-calendar"></span></div>
                    <input type="text" class="form-control datepicker"
                           id="book.end"
                           name="book.end" data-toggle="tooltip"
                           data-title="{{ i18n 'book.form.Specify a valid date (dd-mm-yyyy)' }}"
                           data-placement="right"/>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">

            <table class="prices table table-striped">
                <thead>
                <tr>
                    <th> {{ i18n 'book.form.Price' }}
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td> {{ i18n 'book.form.Per night' }}
                    </td>
                    <td class="pricePerNight">50</td>
                </tr>
                <tr class="total">
                    <td>
											{{ i18n 'book.form.Total' }}
                        (
                        <span class="nrOfNights"></span>
											{{ i18n 'book.form.Nights' }}
                        )
                    </td>
                    <td class="priceTotal">
                        <span class="value"></span>
                        <select class="form-control currency"></select>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="form-actions">
                <button type="button" class="cancel btn btn-link"
                        id="cancelBookingButton"> {{ i18n 'book.form.Cancel' }}
                </button>
                <button type="button"
                        class="book btn btn-primary btn-large book-btn"
                        id="submitBookingButton"
                        data-toggle="tooltip"
                        data-title="{{ i18n 'book.form.Invalid data! See fields above.' }}"
                        data-placement="left">
									{{ i18n 'book.form.Book' }}
                </button>
            </div>
        </div>
    </form>
</template>

<template name="bookButton">
    <button class="book btn btn-primary">
        <span class="fa fa-edit"></span>
			{{i18n 'book.form.button.label'}}
    </button>
</template>
