<template name="layout">
	{{#famousContext id="mainCtx"}}
		{{#HeaderFooterLayout headerSize="50" footerSize="50"}}
			{{#Surface target="header"}}
				{{> yield 'header'}}
			{{/Surface}}

			{{!-- try some other transition (or build your own):
				slideWindowLeft, slideWindowRight
			--}}
			{{#RenderController target="content" transition="opacity"}}
				{{>yield}}
			{{/RenderController}}

			{{#Surface target="footer"}}
				{{> yield 'footer'}}
			{{/Surface}}
		{{/HeaderFooterLayout}}
	{{/famousContext}}
</template>
