.album {
  position: relative;
  width: 100%;
  background-color: @brand-primary;
  &:before {
    content: '';
    display: block;
    padding-top: 62.5%;
  }
  &:after {
    content: '';
    display: block;
    border: solid @padding-base-horizontal @brand-primary;
    .position(0, 0, 0, 0);
    z-index: 1;
  }
  .album-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .position(@padding-base-horizontal, @padding-base-horizontal);
    &.album-image-preloader-0, &.album-image-preloader-1 {
      height: 0;
      width: 0;
    }
    &.animated {
      .animation-duration(.5s);
    }
  }
  .control {
    position: absolute;
    top: 50%;
    color: white;
    .opacity(.5);
    font-size: 2em;
    margin-top: -1em;
    z-index: 2;
    &.next {
      right: 0;
    }
    &.prev {
      left: 0;
    }
  }
}
