<template name="adminMessage">
    <div class="email-fields">
        <div class="form-group">
            <label for="mail-to">{{i18n 'admin.to'}}</label>
            <input class="form-control" id="mail-to"
                   disabled="disabled"
                   value="{{guest.fullName}} <{{guest.email}}>"
                   name="to">
        </div>
        <div class="form-group">
            <label for="mail-subject">{{i18n 'admin.Subject'}}</label>
            <input class="form-control" id="mail-subject"
                   name="subject">
        </div>
        <div class="form-group">
            <label for="mail-body">{{i18n 'admin.Body'}}</label>
                <textarea class="form-control" name="body"
                          id="mail-body"></textarea>
        </div>
    </div>
</template>

<template name="adminMessageFooter">
	{{# if sending }}
      <button class="sending btn btn-primary" disabled="disabled">
          <span class="fa fa-refresh fa-spin"></span>
				{{i18n 'admin.sending'}}
      </button>
	{{else}}
      <button class="send btn btn-primary">
          <span class="fa fa-envelope-o"></span>
				{{i18n 'admin.send'}}
      </button>
	{{/if}}

    <button class="cancel btn btn-link">
        <span class="fa fa-times"></span>
			{{i18n 'admin.cancel'}}
    </button>
</template>
