.alerts {
  position: fixed;
  top: 5rem;
  left: 0;
  width: 100%;
  @z-alerts: 2030;
  z-index: @z-alerts;
  .alert {
    @h: 30%;
    position: relative;
    max-height: @h;

    top: (100% - @h)/ 2;
    text-align: center;
  }
}
